<nav class="navbar fixed-bottom  navbar-dark bg-dark ">

  <div class="d-flex justify-content-between">


    <div style="width: inherit;" class="d-flex">
      <a href="http://www.instagram.com"><img style="width: 45px; height: 45px;"
          src="https://i.pinimg.com/originals/a2/5f/4f/a25f4f58938bbe61357ebca42d23866f.png" alt=""></a>
      <a href="http://www.twitter.com"><img style="width: 55px; height: 45px;"
          src="https://i.pinimg.com/originals/e7/b7/8b/e7b78b7e4664caa8e541da27ef1f0c3e.png" alt=""></a>
    </div>

    
  </div>

  <div>
    <p style="color:white;">Created By Eren Değirmenci</p>
  </div>

  <div>
    <p style="color: white;">2020</p>
  </div>
</nav>

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
  integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
  integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
  integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>

</html>